{% extends "new/base.html" %} {% block content %}
<h2 class="aditya1">About JOSAA DECODED</h2>
<h4 class="aditya">
  Confused about which college to pick?
  <br />
  <br />
  Not sure about which stream?
  <br />
  <br />
  JOSAA DECODED is your one-stop solution! We provide you the graphs and
  numbers, all you have to do is ask!
  <br />
  <br />
</h4>

<h6 class="aditya">
  The site is written using django framework, and utilizes the chart.js library
  for visualizing the data.
</h6>
<br />
{% endblock content %}
